<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="styles/kendo.common.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.min.css" />
    <link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/kendo.all.min.js"></script>

</head>

<body>
    <div id="example" ng-app="KendoDemos">
        <div ng-controller="fourController as fc">

            <kendo-grid options="fc.mainGridOptions">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active">Orders</li>
                            <li>Contact information</li>
                        </ul>
                        <div>
                            <div kendo-grid k-options="fc.detailGridOptions(dataItem)"></div>
                        </div>
                        <div>
                            <ul class="contact-info-form">
                                <li><label>Country:</label> <input class="k-textbox" ng-model="dataItem.Country" /></li>
                                <li><label>City:</label> <input class="k-textbox" ng-model="dataItem.City" /></li>
                                <li><label>Address:</label> {{fc.dataItem.Address}}</li>
                                <li><label>Home phone:</label> {{fc.dataItem.HomePhone}}</li>
                            </ul>
                        </div>
                    </kendo-tabstrip>
                </div>
            </kendo-grid>

            <div class="demo-section k-content wide">
                <div kendo-list-view id="listView" k-data-source="fc.source">
                    <div class="product" k-template>
                        <img ng-src="../content/web/foods/{{dataItem.ProductID}}.jpg" alt=" {{dataItem.ProductName}} image" />
                        <h3>{{ dataItem.ProductName }}</h3>
                        <p>{{ dataItem.UnitPrice | currency }}</p>
                    </div>
                </div>
                <div kendo-pager k-data-source="fc.source"></div>
            </div>
        </div>
    </div>

    <style>
        .contact-info-form {
            list-style-type: none;
            margin: 30px 0;
            padding: 0;
        }
        
        .contact-info-form li {
            margin: 10px 0;
        }
        
        .contact-info-form label {
            display: inline-block;
            width: 100px;
            text-align: right;
            font-weight: bold;
        }
    </style>
    <script src="app.js"></script>
    <script src="controllers/tableController.js"></script>
    <script src="services/data.service.js"></script>

</body>

</html>