<!DOCTYPE html>
<html>

<head>
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <script src="js/angular.min.js"></script>


</head>

<body>
    <div id="example" class="container"  ng-app="KendoDemos">
        <div ng-controller="MyCtrl as vm">
            <header class="search">
                <input ng-model="vm.searchTerm"></input>
                <button ng-click="vm.search()"> Search</button>
                <button ng-click="vm.removeItem()"> Remove</button>
                <button ng-click="vm.alphabetical()">Alphabetical</button>
                <button ng-click="vm.recomended()">Recomended</button>
            </header>
            <div ng-repeat="result in vm.results">
                <div class="result col-md-4">
                    <div class="image">
                        <img ng-src="{{vm.getPicture(result.venue.photos)}}" alt=" {{result.venue.name}} image" />
                    </div>
                    <div class="detail">
                        <h3>{{ result.venue.name }}</h3>
                        <p>{{ result.tips[0].text }}</p>
                        <a href="{{ result.venue.url }}">link</a>
                        <p>{{ result.venue.rating }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
    <script src="controllers/tableController.js"></script>
    <script src="services/data.service.js"></script>
</body>

</html>